<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongbu.datasources.mapper.db.DBPetitionAccusedInfoMapper" >

    <!--查询总记录数-->
    <select id="findRecordCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM (
            SELECT
            rownumber() over (partition BY PETITION_NO ORDER BY CREATE_DATE DESC) AS yy,
            PETITION_NO,CREATE_DATE
            FROM petition_accused_info WHERE CREATE_DATE >= #{dateTime}
       ) a WHERE a.yy &lt;= 1
    </select>

    <!--查询详情-->
    <select id="findRecordDetails" resultType="com.tongbu.datasources.model.db.Petition_Accused_Info">
        SELECT * FROM (
            SELECT
                rownumber() over (order by CREATE_DATE) as rn,
                OID,PETITION_NO,ACCUSER_ANONYMOUS_FLAG,
                ACCUSER_CARD_ID,ACCUSER_NAME,ACCUSER_TEL_ONE,ACCUSER_WORK_UNIT,
                CREATE_DATE FROM(
                    SELECT rownumber() over (partition by PETITION_NO order by CREATE_DATE DESC) as yy,
                    OID,PETITION_NO,ACCUSER_ANONYMOUS_FLAG,
                    ACCUSER_CARD_ID,ACCUSER_NAME,ACCUSER_TEL_ONE,ACCUSER_WORK_UNIT,
                    CREATE_DATE FROM petition_accused_info WHERE to_char(CREATE_DATE,'yyyy-MM-dd') >= #{dateTime}
            ) a where a.yy &lt;= 1
        ) b where b.rn >= #{pageStart} and b.rn &lt;= #{pageEnd}
    </select>
</mapper>